<config platform="osx" template="osx (default)">Created: Mon Oct 6 01:43:23 2014
By: adriangomez
Using Template: osx (default)

&lt;description to go here><option value="" fromDef="true" name="osx-icon"/>
    <option value="" fromDef="true" name="osx-info-plist"/>
    <option value="" fromDef="true" name="osx-appid"/>
    <option value="" fromDef="true" name="osx-sign-for-store"/>
    <option value="10.7" fromDef="true" name="osx-minimum-osx-version"/>
    <option value="3rd Party Mac Developer Application" fromDef="true" name="osx-signing-identity-app"/>
    <option value="3rd Party Mac Developer Installer" fromDef="true" name="osx-signing-identity-inst"/>
    <option value="public.app-category.games" fromDef="true" name="osx-appstore-category"/>
    <option value="" fromDef="true" name="osx-entitlements-plist"/>
    <option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="CGAdmobExample" fromDef="true" name="name"/>
    <option value="CGAdmobExample" fromDef="true" name="caption"/>
    <option value="cabagomez.com" fromDef="true" name="provider"/>
    <option value="(C) cabagomez.com" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="osx-ext-dll"/>
    <option value="" fromDef="true" name="osx-extra-res"/>
</config>
