<config platform="osx" template="osx (default)">Created: Mon Oct 6 01:43:23 2014
By: adriangomez
Using Template: osx (default)

&lt;description to go here><option fromDef="true" name="osx-icon" value=""/>
    <option fromDef="true" name="osx-info-plist" value=""/>
    <option fromDef="true" name="osx-appid" value=""/>
    <option fromDef="true" name="osx-sign-for-store" value=""/>
    <option fromDef="true" name="osx-minimum-osx-version" value="10.7"/>
    <option fromDef="true" name="osx-signing-identity-app" value="3rd Party Mac Developer Application"/>
    <option fromDef="true" name="osx-signing-identity-inst" value="3rd Party Mac Developer Installer"/>
    <option fromDef="true" name="osx-appstore-category" value="public.app-category.games"/>
    <option fromDef="true" name="osx-entitlements-plist" value=""/>
    <option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="CGAdmobExample"/>
    <option fromDef="true" name="caption" value="CGAdmobExample"/>
    <option fromDef="true" name="provider" value="cabagomez.com"/>
    <option fromDef="true" name="copyright" value="(C) cabagomez.com"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="osx-ext-dll" value=""/>
    <option fromDef="true" name="osx-extra-res" value=""/>
</config>
